<app-navbar></app-navbar>
<div class="content">
  <div class="row">
    <div class="col-lg-2 col-sm-0 sideB">
      <app-sidebar></app-sidebar>
    </div>

    <div class="cards col-lg-10 col-sm-12 mt-4">
      <!-- Header Title -->
      <div class="header">
        <div class="mx-4 mt-1">
          <h2 class="title">
            <i class="fa-regular fa-address-card"></i> Employees
            <span style="color: rgb(211, 211, 211)"
              >({{ contactArr.length }})</span
            >
          </h2>
          <small>Company's Employees List.</small>
        </div>
      </div>
      <!-- Search Customer -->
      <div class="searchUser mt-4">
        <div class="search">
          <div class="input-group" novalidate>
            <span class="input-group-text"
              ><i class="fa-solid fa-magnifying-glass"></i
            ></span>
            <input
              name="name"
              type="search"
              class="form-control"
              placeholder="Search Name..."
              [(ngModel)]="term"
            />
          </div>
        </div>

        <div *ngIf="contactArr | filter: term as contactArr">
          <div class="tableDiv row mb-4">
            <ng-container *ngIf="contactArr.length != 0; else noContact">
              <ng-container *ngFor="let cnt of contactArr; index as i">
                <div class="col-xl-3 col-lg-6 col-md-6 mb-3">
                  <div id="container" class="card">
                    <div id="hero-img"></div>
                    <div id="profile-img">
                      <img src="{{ cnt.img }}" alt="" />
                    </div>
                    <div id="content">
                      <h1>{{ cnt.name }}</h1>
                      <h5>{{ cnt.role }}</h5>
                      <div class="info mt-4">
                        <h6>
                          <i class="fa-solid fa-envelope"></i>
                          {{ cnt.email }}
                        </h6>
                        <h6>
                          <i class="fa-solid fa-cake-candles"></i>
                          {{ getBirthday(cnt.birthday) }}
                        </h6>
                        <h6>
                          <i class="fa-solid fa-phone"></i> {{ cnt.phones }}
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <ng-template #noContact>
            <h3 class="text-center mt-5">There is no such Employee...</h3>
            <div class="loadingImage">
              <img
                class="loading img-fluid"
                src="../../../assets/img/Loading.svg"
                alt=""
              />
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
