.content {
  width: 99%;
}

.about-section {
  animation: fadeInRight 0.2s ease-in-out;
  box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.12);
  background: linear-gradient(
      to left,
      #555d87 0%,
      #005e98 12%,
      #0ca2ff 47%,
      #575e86 100%
    )
    left bottom rgb(255, 255, 255) no-repeat;
  background-size: 100% 5px; /* if linear-gradient, we need to resize it */
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.212));
}

.about-section,
.developers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 991px) {
  .header {
    margin: 0 0 0 0.3rem;
    width: 93vw;
    height: 5rem;
  }

  .sideB {
    display: none;
  }
}
