<app-navbar></app-navbar>
<div class="content">
  <div class="row">
    <div class="col-lg-2 sideB">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10 mt-4">
      <div class="header">
        <div class="mx-4 mt-1">
          <h2 class="title">
            <i class="fa-solid fa-circle-info"></i> About KLAS
          </h2>
          <small>What is KLAS?</small>
        </div>
      </div>
      <!-- CONTENT -->
      <div class="about-section mt-4 mb-4 p-3">
        <div class="about row container">
          <div>
            <h6>
              <span class="text-center" style="font-weight: bold">K.L.A.S </span
              >is an online Customer Relationship Management (CRM) single page
              End-to-End application developed for car rental companys. The
              system covers both customer and day to day order managments.
            </h6>
          </div>
          <div class="tech mt-3">
            <h6>
              <span style="font-weight: bold">Project Features:</span>
              CRUD Operations, Database Analysis, User Authentiction, Custom
              Intefaces for Data Types, Guarded Routes.
            </h6>
            <h6>
              <span style="font-weight: bold">Tools Used:</span>
              Angular, Typescript, Firebase Hosting, Firestore database.
            </h6>
          </div>
          <div>
            <hr class="mt-2" />
            <h6 class="mt-2">
              K.L.A.S stands for: Kfir Lankry & Aviv Shleyfman, Two full-stack
              web developers that collaborated to create this web as part of
              their Angular summary project.
            </h6>

            <div class="developers mt-3 row">
              <!-- CARD 1 -->
              <div class="col-lg-4 mb-5">
                <div id="container" class="card">
                  <div id="hero-img"></div>
                  <div id="profile-img">
                    <img src="../../../assets/img/Kfir.jpg" alt="" />
                  </div>
                  <div id="content">
                    <h4 class="mt-2">Kfir Lankry</h4>
                    <h6>FullStack Web Developer</h6>

                    <div class="info mt-4">
                      <a
                        href="https://www.linkedin.com/in/kfirlankry/"
                        target="_blank"
                        class="btn btn-dark mx-1"
                        ><i class="fa-brands fa-linkedin"></i
                      ></a>
                      <a
                        href="https://kfirlankry.netlify.app/"
                        class="btn btn-dark mx-1"
                        target="_blank"
                        ><i class="fa-solid fa-earth-americas"></i
                      ></a>
                      <a
                        href="https://github.com/KfirLankry"
                        class="btn btn-dark mx-1"
                        target="_blank"
                        ><i class="fa-brands fa-github"></i
                      ></a>
                      <a
                        href="mailto:lankrykfir@gmail.com"
                        class="btn btn-dark mx-1"
                        target="_blank"
                        ><i class="fa-solid fa-envelope"></i
                      ></a>
                      <a
                        href="https://wa.me/0542328288"
                        class="btn btn-dark mx-1"
                        target="_blank"
                        ><i class="fa-brands fa-whatsapp"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- CARD 2 -->
              <div class="col-lg-4 mb-5">
                <div id="container" class="card">
                  <div id="hero-img"></div>
                  <div id="profile-img">
                    <img src="../../../assets/img/aviv.jpg" alt="" />
                  </div>
                  <div id="content">
                    <h4 class="mt-2">Aviv Shleyfman</h4>
                    <h6>FullStack Web Developer</h6>
                    <div class="info mt-4">
                      <a
                        href="https://www.linkedin.com/in/aviv-shleyfman/"
                        class="btn btn-dark mx-1"
                        target="_blank"
                        ><i class="fa-brands fa-linkedin"></i
                      ></a>
                      <a
                        href="https://aviv-shleyfman-portfolio.netlify.app/"
                        class="btn btn-dark mx-1"
                        target="_blank"
                        ><i class="fa-solid fa-earth-americas"></i
                      ></a>
                      <a
                        href="https://github.com/pocketGod"
                        class="btn btn-dark mx-1"
                        target="_blank"
                        ><i class="fa-brands fa-github"></i
                      ></a>
                      <a
                        href="mailto:aviv8498@gmail.com"
                        class="btn btn-dark mx-1"
                        target="_blank"
                        ><i class="fa-solid fa-envelope"></i
                      ></a>
                      <a
                        href="https://wa.me/0542083456"
                        class="btn btn-dark mx-1"
                        target="_blank"
                        ><i class="fa-brands fa-whatsapp"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
