<app-navbar></app-navbar>
<div class="content">
  <div class="row">
    <div class="col-lg-2 sideB">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10 mt-4">
      <div class="header">
        <div class="mx-4 mt-1">
          <h2 class="title">
            <i class="fa-solid fa-circle-info"></i> About KLAS
          </h2>
          <small>What is KLAS?</small>
        </div>
      </div>

      <div>

        <div class="about-section mt-3 p-3">
          <h6 class="display-6 fs-4">K.L.A.S is an online CRM system for a fake car rental company.</h6>
          <h6 class="display-6 fs-4">Covers both customer and day to day order managment</h6>
        </div>

        <div class="about-section mt-3 p-3">
          <h6 class="display-6 fs-4">K.L.A.S stands for: <a class="fs-3" href="https://www.linkedin.com/in/kfirlankry/" target="_blank">Kfir Lankry</a> <small class="mx-1 fs-6">&</small> <a class="fs-3" href="https://www.linkedin.com/in/aviv-shleyfman/" target="_blank">Aviv Shleyfman</a></h6>
          <h6 class="display-6 fs-4">Two full-stack web developers that collaborated to create this project</h6>
        </div>

        <div class="about-section mt-3 p-3">
          <div class="row">
            <div class="col-sm-6 col-12">
              <h6 class="display-6 fs-4">Project features:</h6>
              <ul>
                <li>CRUD Operations</li>
                <li>Database Analysis</li>
                <li>User Authentiction</li>
                <li>Custom Intefaces for Data Types</li>
                <li>Guarded Routes</li>
              </ul>
            </div>
            <div class="col-sm-6 col-12">
              <h6 class="display-6 fs-4">Tools used:</h6>
              <ul>
                <li>Angular</li>
                <li>Typescript</li>
                <li>Firebase Hosting</li>
                <li>Firestore database</li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
