<div class="container-fluid">
  <div class="row main">
    <div class="col-lg-6 leftDiv">
      <div class="logo">
        <img
          class="mb-5 logo img-fluid"
          src="../../../assets/img/logo.png"
          alt=""
        />
      </div>
      <div>
        <h1 class="text-center txt mb-2">Create Account</h1>
        <p>Join us by creating your CRM System account.</p>
      </div>
      <div class="register container">
        <form
          class="needs-validation"
          #loginForm="ngForm"
          (ngSubmit)="submitRegister()"
          novalidate
        >
          <div class="form-group pt-3">
            <input
              class="form-control"
              type="email"
              name="email"
              id="email"
              placeholder="* Email"
              required
              email
              minlength="8"
              ngModel
              [(ngModel)]="user.email"
              #email="ngModel"
            />
            <small
              class="mt-2 text-left"
              *ngIf="!email?.valid && (email?.dirty || email?.touched)"
              style="color: red"
            >
              <i class="fa-solid fa-circle-exclamation"></i> This field is
              requierd</small
            >
          </div>
          <div class="form-group pt-3">
            <input
              class="form-control"
              type="password"
              name="password"
              id="password"
              placeholder="* Password"
              required
              minlength="6"
              ngModel
              [(ngModel)]="user.password"
              #password="ngModel"
            />
            <p
              class="mt-2"
              *ngIf="!password?.valid && (password?.dirty || password?.touched)"
              style="color: red"
            >
              <i class="fa-solid fa-circle-exclamation"></i> This field is
              requierd
            </p>
            <div class="form-group pt-3">
              <button
                [disabled]="!loginForm.valid"
                class="btn btn-secondary"
                type="submit"
              >
                Register
              </button>
            </div>
            <p class="text-center mt-3">
              Already have an account? <a routerLink="/login">Log In</a>
            </p>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-6 rightDiv">
      <img
        class="image img-fluid"
        src="../../../assets/img/register.png"
        alt=""
      />
    </div>
  </div>
</div>
