<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a routerLink="/dashboard/customers" class="navbar-brand"
      ><img class="logo" src="../../../assets/img/logo.png" alt="" />
      <span style="font-weight: bold"> KLAS</span> Car Rental CRM</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="nav-item hidden">
        <div class="links">
          <a
            class="link"
            routerLink="/dashboard/customers"
            routerLinkActive="active-link"
            ><i class="fa-solid fa-users"></i
            ><span class="mx-3">Customers</span></a
          >
          <a
            class="link"
            routerLink="/dashboard/contacts"
            routerLinkActive="active-link"
            ><i class="fa-regular fa-address-card"></i
            ><span class="mx-3">Employees</span></a
          >
          <a
            class="link"
            routerLink="/dashboard/orders"
            routerLinkActive="active-link"
            ><i class="fa-solid fa-headset"></i
            ><span class="mx-3">Orders</span></a
          >
          <a
            class="link"
            routerLink="/dashboard/reports"
            routerLinkActive="active-link"
            ><i class="fa-solid fa-chart-line"></i
            ><span class="mx-3">Reports</span></a
          >

          <a class="link" routerLink="/dashboard/profile"
            ><i class="fa-solid fa-user"></i
            ><span class="mx-3">Profile</span></a
          >
        </div>
      </div>

      <div class="notification text-dark mx-3 mobileHidden">
        <button
          type="button"
          class="notification position-relative"
          [ngbPopover]="message"
          triggers="mouseenter:mouseleave"
          [popoverTitle]="activeOrders.length + ' Active Cars'"
        >
          <i class="fa-solid fa-bell fa-lg"></i>
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          >
            {{ activeOrders.length }}
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
      </div>
      <div class="nav-item dropdown">
        <a
          class="nav-link mobileHidden dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ getUserName() }}
        </a>
        <ul class="dropdown-menu drop bg-dark">
          <li>
            <a class="dropdown-item text-white" routerLink="/dashboard/profile"
              ><i class="fa-solid fa-user"></i> Profile</a
            >
          </li>
          <li>
            <a class="dropdown-item text-white" (click)="logout()"
              ><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
