.content {
  width: 99%;
}

.orders,
.graph {
  animation: fadeInRight 0.2s ease-in-out;
  box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.12);
  background: linear-gradient(
      to left,
      #555d87 0%,
      #005e98 12%,
      #0ca2ff 47%,
      #575e86 100%
    )
    left bottom rgb(255, 255, 255) no-repeat;
  background-size: 100% 5px; /* if linear-gradient, we need to resize it */
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.212));
}

.graph,
.orders {
  width: 100%;
}

.allContent {
  margin: 0 0 0 0.8rem;
}

@media only screen and (max-width: 991px) {
  .header {
    margin: 0 0 0 0.3rem;
    width: 93vw;
    height: 5rem;
  }

  .allContent {
    margin: 0 0 0 0px;
  }

  .sideB {
    display: none;
  }

  .orders,
  .graph {
    width: 98%;
  }

  .pie-graph {
    width: 80vw;
  }

  .allGraphs {
    height: 100vh;
    overflow: auto;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.12);
  }
}
