.content {
  width: 99%;
}

.orders,
.graph {
  animation: fadeInRight 0.5s ease-in-out;
  width: 100%;
  box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.12);
  background: linear-gradient(
      to left,
      #555d87 0%,
      #005e98 12%,
      #0ca2ff 47%,
      #575e86 100%
    )
    left bottom rgb(234, 234, 234) no-repeat;
  background-size: 100% 5px; /* if linear-gradient, we need to resize it */
}

.allGraphs {
  height: 75vh;
  overflow-y: auto;
  box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.12);
}

@keyframes fadeInRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    margin: 0 0 0 0.3rem;
    width: 95vw;
    height: 5rem;
  }

  .sideB {
    display: none;
  }

  .orders,
  .graph {
    width: 98%;
  }

  .pie-graph {
    width: 80vw;
  }
}
