.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d4157;
  height: 23rem;
  margin: 2.5rem 0 0 0;
  background-image: url("../../../assets/img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-body {
  margin: 1rem 0 1rem 1.5rem;
}

.title {
  font-weight: 700;
  color: #3d4157;
}

.subTitle {
  font-size: large;
}

@media only screen and (max-width: 991px) {
  .carImage {
    height: 12rem;
  }
}
