.BtnDiv,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

input {
  width: 400px;
}

option:disabled {
  color: rgb(180, 180, 180);
  font-weight: lighter;
}

@media only screen and (max-width: 991px) {
  textarea,
  input {
    width: 330px;
  }
}
