<h2 class="text-center mt-4 mb-4">
  <i class="fa-solid fa-plus"></i> Add New Order
</h2>
<div class="container">
  <form #addOrder="ngForm" class="formview form-group" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
      <input
        type="date"
        id="startDate"
        class="form-control"
        id="startInput"
        name="start"
        required
        [(ngModel)]="order.start"
        #startDate="ngModel"
        max="{{ endDate.value }}"
      />
      <label for="floatingInput"
        ><span style="color: red">*</span> Start Date</label
      >
    </div>
    <div class="form-floating mb-3">
      <input
        type="date"
        id="endDate"
        class="form-control"
        id="endInput"
        name="end"
        required
        [(ngModel)]="order.end"
        #endDate="ngModel"
        min="{{ startDate.value }}"
      />
      <label for="floatingInput"
        ><span style="color: red">*</span> End Date</label
      >
    </div>
    <div class="customer mb-3">
      <select
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="order.customer_id"
        #customer="ngModel"
        name="customer"
        required
      >
        <option *ngFor="let cus of customers" value="{{ cus.id }}">
          {{ cus.firstName + " " + cus.lastName }}
        </option>
      </select>
      <a class="btn btn-dark" (click)="addNewCustomer()">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
    <div class="mb-3">
      <select
        class="form-select"
        aria-label="Default select example"
        name="car"
        id="carInput"
        [(ngModel)]="order.car_id"
        #car="ngModel"
        required
      >
        <label for="floatingInput"
          ><span style="color: red">*</span> End Date</label
        >

        <option *ngFor="let car of cars" value="{{ car.id }}">
          {{ car.manufacture + " " + car.model }}
        </option>
      </select>
    </div>

    <div class="form-floating mb-3">
      <input
        type="number"
        id="sum"
        class="form-control"
        id="sumInput"
        name="sum"
        [(ngModel)]="order.sum"
        #sum="ngModel"
        disabled
        [value]="
          calcOrderSum(
            startDate.value,
            endDate.value,
            getCarPriceById(car.value)
          )
        "
      />
      <label for="floatingInput">Total Price</label>
    </div>

    <textarea
      name="note"
      id="note"
      placeholder="Customer Note.."
      class="form-control w-100 mt-3"
      [(ngModel)]="order.notes"
      #notes="ngModel"
      cols="20"
      rows="10"
      placeholder="Order Note.."
    >
    </textarea>
    <div class="BtnDiv">
      <button
        [disabled]="!addOrder.valid || !endDate.dirty"
        type="submit"
        class="btn btn-dark mt-4 mb-4 w-100"
      >
        Add
      </button>
    </div>
  </form>
</div>
