<app-navbar></app-navbar>
<div class="content">
  <!-- SideBar -->
  <div class="row">
    <div class="col-lg-2 col-sm-0 sideB">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10 col-sm-12 mt-4">
      <!-- Header Title -->
      <div class="header">
        <div class="mx-4 mt-1">
          <h2 class="title">
            <i class="fa-solid fa-user"></i> Customer Details
          </h2>
          <small>Customer Information Card.</small>
        </div>
      </div>
      <!-- Card -->
      <ng-container *ngFor="let customer of costumers">
        <ng-container *ngIf="customer.id == customerId">
          <div class="row">
            <div class="col-lg-6">
              <div class="card mb-3 mt-4">
                <div class="row g-0">
                  <div class="col-md-4 image">
                    <img
                      src="../../../assets/img/149071.png"
                      class="img-fluid rounded-start mx-3 mt-3 hidden"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8 mx-4">
                    <div class="card-body">
                      <h4 class="card-title mt-1 title">
                        {{ customer.firstName }} {{ customer.lastName }}
                      </h4>
                      <div class="card-text">
                        <h6>
                          Created on: {{ getDate(customer.dateAdded, "") }}
                        </h6>
                        <ng-container *ngIf="customer.phone; else noPhone">
                          <h6>Phone: {{ customer.phone }}</h6>
                        </ng-container>
                        <ng-template #noPhone>
                          <h6>Phone: No phone added.</h6>
                        </ng-template>
                        <ng-container *ngIf="customer.email; else noEmail">
                          <td>Email: {{ customer.email }}</td>
                        </ng-container>
                        <ng-template #noEmail>
                          <td>Email: No email added.</td>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-3 mt-4 note">
                <div class="row g-0">
                  <div class="card-body">
                    <h4 class="card-title mt-1 title">
                      <i class="fa-regular fa-note-sticky"></i> Customer Note
                    </h4>
                    <div class="card-text">
                      <ng-container *ngIf="customer.note; else none">
                        <h6>{{ customer.note }}</h6>
                      </ng-container>
                      <ng-template #none>
                        <span style="color: rgb(192, 192, 192)"
                          >No notes added yet!</span
                        >
                      </ng-template>
                    </div>
                    <p class="card-text"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="ordersArr.length != 0; else noOrder">
        <div class="orderTable">
          <h3 class="text-center mt-3 mb-4 title">Customer Orders</h3>
          <div class="map mb-4">
            <span class="badge active-order lightgrey">Active Order</span>
            <span class="badge past-order lightgrey">Past Order</span>
            <span class="badge future-order lightgrey">Future Order</span>
          </div>
          <table class="table table-hover table-bordered table-responsive mt-2">
            <thead>
              <tr class="borderdLine text-center">
                <th scope="col">#</th>
                <th scope="col">Order Dates</th>
                <th scope="col">Car Image</th>
                <th scope="col">Car Model</th>
                <th scope="col">Total Price</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngIf="activeOrders.length" class="text-center text-muted"><td colspan="5">Active Orders</td></tr> -->
              <ng-container *ngFor="let order of activeOrders; index as i">
                <tr class="text-center active-order">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    {{ getDate(order.start, "") }} -
                    {{ getDate(order.end, "") }}
                  </td>
                  <td>
                    <a (click)="carDetails(order.car_id)">
                      <img
                        width="75px"
                        src="{{ getCarById(order.car_id).picUrl }}"
                      />
                    </a>
                  </td>
                  <td>
                    <div>
                      {{ getCarById(order.car_id).manufacture }}
                      {{ getCarById(order.car_id).model }}
                    </div>
                  </td>

                  <td>{{ order.sum | currency }}</td>
                </tr>
              </ng-container>
              <!-- <tr *ngIf="futureOrders.length" class="text-center text-muted">
                <td colspan="5">Future Orders</td>
              </tr> -->
              <ng-container *ngFor="let order of futureOrders; index as i">
                <tr class="text-center future-order">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    {{ getDate(order.start, "") }} -
                    {{ getDate(order.end, "") }}
                  </td>
                  <td>
                    <a (click)="carDetails(order.car_id)">
                      <img
                        width="75px"
                        src="{{ getCarById(order.car_id).picUrl }}"
                      />
                    </a>
                  </td>
                  <td>
                    <div>
                      {{ getCarById(order.car_id).manufacture }}
                      {{ getCarById(order.car_id).model }}
                    </div>
                  </td>

                  <td>{{ order.sum | currency }}</td>
                </tr>
              </ng-container>
              <!-- <tr *ngIf="pastOrders.length" class="text-center text-muted">
                <td colspan="5">Past Orders</td>
              </tr> -->
              <ng-container *ngFor="let order of pastOrders; index as i">
                <tr class="text-center past-order">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    {{ getDate(order.start, "") }} -
                    {{ getDate(order.end, "") }}
                  </td>
                  <td>
                    <a (click)="carDetails(order.car_id)">
                      <img
                        width="75px"
                        src="{{ getCarById(order.car_id).picUrl }}"
                      />
                    </a>
                  </td>
                  <td>
                    <div>
                      {{ getCarById(order.car_id).manufacture }}
                      {{ getCarById(order.car_id).model }}
                    </div>
                  </td>

                  <td>{{ order.sum | currency }}</td>
                </tr>
              </ng-container>
              <!-- <tr *ngIf="ordersArr.length" class="text-center text-muted">
                <td colspan="5">{{ ordersArr.length }} Orders In Total</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </ng-container>
      <ng-template #noOrder>
        <h3 class="text-center mt-5">This Customer has no Orders...</h3>
        <div class="noOrderImage">
          <img
            class="noOrder img-fluid"
            src="../../../assets/img/list.png"
            alt=""
          />
        </div>
      </ng-template>
      <div class="backBtn mt-5 mb-4">
        <button (click)="goBack()" class="btn btn-dark btns btn-warning">
          <i class="fa-solid fa-arrow-left"></i> Go Back
        </button>
      </div>
    </div>
  </div>
</div>
