.content {
  width: 99%;
}

.noOrderImage {
  animation: fadeInRight 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noOrder {
  width: 40%;
}

.borderdLine {
  border-bottom: 3px solid black;
}

.image {
  width: 7.4rem;
}

.backBtn {
  display: flex;
  justify-content: center;
}

.note {
  overflow: auto;
}

.card-title {
  font-weight: 600;
}

.gradinetLine,
.header,
.card {
  background: linear-gradient(
      to left,
      #555d87 0%,
      #005e98 12%,
      #0ca2ff 47%,
      #575e86 100%
    )
    left bottom #ffffff no-repeat;
  background-size: 100% 5px; /* if linear-gradient, we need to resize it */
}

.card {
  box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.174);
  height: 10rem;
  animation: fadeInRight 0.2s ease-in-out;
}

table,
.badge {
  animation: fadeInRight 0.2s ease-in-out;
  box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
}

a {
  cursor: pointer;
}

.lightgrey {
  color: rgb(87, 87, 87);
}

.past-order {
  background-color: #eeeeee;
}
.active-order {
  background-color: #adddd0;
}
.future-order {
  background-color: #9cb3ffc1;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    width: 100vw;
    height: 5rem;
  }

  .sideB {
    display: none;
  }

  table {
    width: 100vw;
  }

  .hidden {
    display: none;
  }

  .noOrder {
    width: 70%;
  }
}
