.content {
  width: 99%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 8rem;
}

.noOrderImage {
  animation: fadeInRight 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noOrder {
  width: 40%;
}

.title {
  font-weight: 700;
  color: #3d4157;
}

.image {
  width: 7.4rem;
}

.backBtn {
  display: flex;
  justify-content: center;
}

.note {
  overflow: auto;
}

.card-title {
  font-weight: 600;
}

.card-body {
  width: 100%;
}

.gradinetLine,
.header,
.card {
  background: linear-gradient(
      to left,
      #555d87 0%,
      #005e98 12%,
      #0ca2ff 47%,
      #575e86 100%
    )
    left bottom #eaeaea no-repeat;
  background-size: 100% 5px; /* if linear-gradient, we need to resize it */
}

.card {
  box-shadow: 1px 1px 3px 0.5px rgba(0, 0, 0, 0.258);
  height: 10rem;
  animation: fadeInRight 0.5s ease-in-out;
}

table,
.badge {
  animation: fadeInRight 0.5s ease-in-out;
  box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.12);
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
}

a {
  cursor: pointer;
}

.lightgrey {
  color: rgb(87, 87, 87);
}

.past-order {
  background-color: rgba(39, 169, 255, 0.202);
}
.active-order {
  background-color: rgba(114, 255, 27, 0.202);
}
.future-order {
  background-color: rgba(255, 187, 0, 0.202);
}

@keyframes fadeInRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    width: 100vw;
    height: 5rem;
  }

  .sideB {
    display: none;
  }

  table {
    width: 100vw;
  }

  .hidden {
    display: none;
  }

  .noOrder {
    width: 70%;
  }
}
