.formview {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  width: 400px;
}

textarea,
.btn {
  width: 50%;
}

@media only screen and (max-width: 991px) {
  textarea,
  .btn {
    width: 80vw;
  }
}
