<app-navbar></app-navbar>
<div class="content">
  <div class="row">
    <div class="col-lg-2 sideB">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10">
      <div class="header mt-4">
        <div class="mx-4 mt-1">
          <h2 class="title"><i class="fa-solid fa-user"></i> Profile</h2>
          <small>User Profile Information.</small>
        </div>
      </div>
      <!-- Card -->
      <figure class="snip1344">
        <img
          src="{{ getUserPic() }}"
          alt="profile-sample1"
          class="background"
        /><img
          src="{{ getUserPic() }}"
          alt="profile-sample1"
          class="profile profileImage"
        />
        <figcaption>
          <h5 class="mt-2">Currently Logged In As:</h5>
          <h1>{{ getUserName() }}</h1>
          <div class="logoutBtn mt-4">
            <button (click)="logout()" class="btn btn-dark">Logout</button>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
