.links {
  display: flex;
  flex-direction: column;
  background-color: #181e25;
  height: 100%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  width: 19rem;
}

.logo {
  width: 1.8rem;

  font-size: x-large;
}

a,
.welcome {
  padding: 0.9rem;
  color: #c3c3c3;
  text-decoration: none;
  transition: transform 250ms;
}

a:active {
  color: #c3c3c3;
}

a:hover {
  transition: 0.3s;
  color: #6648fe;

  transform: translateX(5px);
}

.marginFixed {
  padding: 1rem 0 0 0;
}

.link,
.title {
  width: 90%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0 0 0;
}

.img {
  width: 5rem;
}

.title {
  color: #3d4157;
  font-weight: 700;
}

.link {
  color: #c3c3c3;
  text-decoration: none;
  transition: transform 300ms;
}

.link:hover {
  border-radius: 0px 30px 30px 0px;
  color: #ffffff;
  transform: translateX(5px);
  background-color: #515159;

  /* border-right: 10px solid #6648fe; */
}

.active-link {
  color: #8067ff;
}

@media only screen and (min-width: 3430px) {
  .links {
    width: 33rem;
  }
}

@media only screen and (max-width: 1891px) {
  .links {
    width: 16rem;
  }
}

@media only screen and (max-width: 1578px) {
  .links {
    width: 13rem;
  }
}

@media only screen and (max-width: 1350px) {
  .links {
    width: 12rem;
  }
}
