<div class="links">
  <p class="title mt-3 text">DASHBOARD</p>

  <a
    class="link"
    routerLink="/dashboard/customers"
    routerLinkActive="active-link"
    ><i class="fa-solid fa-users"></i><span class="mx-3">Customers</span></a
  >
  <a
    class="link"
    routerLink="/dashboard/contacts"
    routerLinkActive="active-link"
    ><i class="fa-regular fa-address-card"></i
    ><span class="mx-3">Employees</span></a
  >
  <a class="link" routerLink="/dashboard/orders" routerLinkActive="active-link"
    ><i class="fa-solid fa-headset"></i><span class="mx-3">Orders</span></a
  >
  <a class="link" routerLink="/dashboard/reports" routerLinkActive="active-link"
    ><i class="fa-solid fa-chart-line"></i><span class="mx-3">Reports</span></a
  >

  <a class="link" routerLink="/dashboard/profile"
    ><i class="fa-solid fa-user"></i><span class="mx-3">Profile</span></a
  >

  <p class="title mt-4 text">ORGANIZATION</p>
  <a class="link notAllowed" href="#"
    ><i class="fa-solid fa-folder-tree"></i
    ><span class="mx-3">Structure</span></a
  >
  <a class="link notAllowed" href="#"
    ><i class="fa-solid fa-box-archive"></i><span class="mx-3">Archive</span></a
  >

  <a class="link notAllowed" href="#"
    ><i class="fa-solid fa-gear"></i><span class="mx-3">Settings</span></a
  >

  <!-- <div class="socials mx-3">
    <a href="https://www.linkedin.com/in/kfirlankry/" target="_blank"
      ><i class="fa-brands fa-linkedin fa-lg socialNetwork"></i
    ></a>
    <a href="https://www.facebook.com/KfirPhanatic/" target="_blank"
      ><i class="fa-brands fa-square-facebook fa-lg socialNetwork"></i
    ></a>
    <a href="https://github.com/KfirLankry" target="_blank"
      ><i class="fa-brands fa-github fa-lg socialNetwork"></i
    ></a>
    <a href="https://www.instagram.com/phanaticmusic/" target="_blank">
      <i class="fa-brands fa-square-instagram fa-lg socialNetwork"></i
    ></a>
    <a href="https://twitter.com/phanaticmusic" target="_blank"
      ><i class="fa-brands fa-square-twitter fa-lg socialNetwork"></i
    ></a>
  </div> -->
</div>
