<app-navbar></app-navbar>
<div class="content">
  <div class="row">
    <div class="col-lg-2 sideB">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10">
      <!-- Header Title -->
      <div class="header mt-4">
        <div class="mx-4 mt-1">
          <h2 class="title"><i class="fa-solid fa-headset"></i> Orders</h2>
          <small>Orders Information.</small>
        </div>
      </div>
      <!-- Tabs -->
      <div class="tabs mt-4 mx-4">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <!-- Current Orders Tab -->
          <div class="tab">
            <li class="nav-item" role="presentation">
              <button
                class="btn btn-outline-dark active"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-home"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
              >
                Active Orders
              </button>
            </li>
          </div>

          <div class="tab">
            <!-- Future Orders Tab -->
            <li class="nav-item" role="presentation">
              <button
                class="btn btn-outline-dark"
                id="pills-contact-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-contact"
                type="button"
                role="tab"
                aria-controls="pills-contact"
                aria-selected="false"
              >
                Future Orders
              </button>
            </li>
          </div>
          <div class="tab">
            <!-- Past Orders Tab -->
            <li class="nav-item" role="presentation">
              <button
                class="btn btn-outline-dark"
                id="pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
              >
                Past Orders
              </button>
            </li>
          </div>
          <!-- New Order BTN -->
          <div class="newOrderBtn mt-1">
            <button class="btn btn-dark" (click)="addNewOrder()">
              <i class="fa-solid fa-plus"></i> Add New Order
            </button>
          </div>
        </ul>
      </div>

      <div class="tabs-content">
        <!-- Current Orders Content -->
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-home"
            role="tabpanel"
            aria-labelledby="pills-home-tab"
            tabindex="0"
          >
            <!-- Current Order Table -->
            <ng-container *ngIf="activeOrders.length != 0; else noOrders">
              <div class="tableDiv">
                <table
                  class="table table-hover table-bordered table-responsive mt-2"
                >
                  <thead>
                    <tr class="borderdLine text-center">
                      <th scope="col">#</th>
                      <th scope="col">Customer Name</th>
                      <th scope="col">Car Image</th>
                      <th scope="col">Car Model</th>
                      <th scope="col">Order Details</th>
                      <th scope="col">Total Price</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngFor="let order of activeOrders; index as i"
                    >
                      <tr class="text-center active-order">
                        <th scope="row">{{ i + 1 }}</th>
                        <td
                          class="link"
                          (click)="navToCustomerDetails(order.customer_id)"
                        >
                          {{ getCustomerById(order.customer_id) }}
                        </td>
                        <td>
                          <div>
                            <a (click)="carDetails(order.car_id)">
                              <img
                                width="75px"
                                src="{{ getCarById(order.car_id).picUrl }}"
                              />
                            </a>
                          </div>
                        </td>

                        <td>
                          <div>
                            {{ getCarById(order.car_id).manufacture }}
                            {{ getCarById(order.car_id).model }}
                          </div>
                        </td>
                        <td>
                          {{ getDate(order.start, "") }} -
                          {{ getDate(order.end, "") }} -
                          {{ dateDiffInDays(order.start, order.end) }}
                          Days
                        </td>
                        <td>
                          {{ order.sum | currency }}
                        </td>
                        <td>
                          <!-- Edit / View / Delete BTNS -->
                          <div class="btns">
                            <button
                              (click)="deleteOrder(order)"
                              class="btn btn-danger w-75"
                            >
                              <i class="fa-solid fa-trash-can"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </ng-container>
          </div>
          <!-- Past Orders Content -->
          <div
            class="tab-pane fade"
            id="pills-profile"
            role="tabpanel"
            aria-labelledby="pills-profile-tab"
            tabindex="0"
          >
            <!-- Past Order Table -->
            <ng-container *ngIf="pastOrders.length != 0; else noOrders">
              <div class="tableDiv">
                <table
                  class="table table-hover table-bordered table-responsive mt-2"
                >
                  <thead>
                    <tr class="borderdLine text-center">
                      <th scope="col">#</th>
                      <th scope="col">Customer Name</th>
                      <th scope="col">Car Image</th>
                      <th scope="col">Car Model</th>
                      <th scope="col">Order Details</th>
                      <th scope="col">Total Price</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let order of pastOrders; index as i">
                      <tr class="text-center past-order">
                        <th scope="row">{{ i + 1 }}</th>
                        <td
                          class="link"
                          (click)="navToCustomerDetails(order.customer_id)"
                        >
                          {{ getCustomerById(order.customer_id) }}
                        </td>
                        <td>
                          <div>
                            <a (click)="carDetails(order.car_id)">
                              <img
                                width="75px"
                                src="{{ getCarById(order.car_id).picUrl }}"
                              />
                            </a>
                          </div>
                        </td>
                        <td>
                          <div>
                            {{ getCarById(order.car_id).manufacture }}
                            {{ getCarById(order.car_id).model }}
                          </div>
                        </td>
                        <td>
                          {{ getDate(order.start, "") }} -
                          {{ getDate(order.end, "") }} -
                          {{ dateDiffInDays(order.start, order.end) }} Days
                        </td>
                        <td>
                          {{ order.sum | currency }}
                        </td>
                        <td>
                          <!-- Edit / View / Delete BTNS -->
                          <div class="btns">
                            <button
                              (click)="deleteOrder(order)"
                              class="btn btn-danger w-75"
                            >
                              <i class="fa-solid fa-trash-can"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </ng-container>
          </div>

          <!-- Future Orders Content -->
          <div
            class="tab-pane fade"
            id="pills-contact"
            role="tabpanel"
            aria-labelledby="pills-contact-tab"
            tabindex="0"
          >
            <!-- Future Order Table -->
            <ng-container *ngIf="futureOrders.length != 0; else noOrders">
              <div class="tableDiv">
                <table
                  class="table table-hover table-bordered table-responsive mt-2"
                >
                  <thead>
                    <tr class="borderdLine text-center">
                      <th scope="col">#</th>
                      <th scope="col">Customer Name</th>
                      <th scope="col">Car Image</th>
                      <th scope="col">Car Model</th>
                      <th scope="col">Order Details</th>
                      <th scope="col">Total Price</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngFor="let order of futureOrders; index as i"
                    >
                      <tr class="text-center future-order">
                        <th scope="row">{{ i + 1 }}</th>
                        <td
                          class="link"
                          (click)="navToCustomerDetails(order.customer_id)"
                        >
                          {{ getCustomerById(order.customer_id) }}
                        </td>
                        <td>
                          <div>
                            <a (click)="carDetails(order.car_id)">
                              <img
                                width="75px"
                                src="{{ getCarById(order.car_id).picUrl }}"
                              />
                            </a>
                          </div>
                        </td>
                        <td>
                          <div>
                            {{ getCarById(order.car_id).manufacture }}
                            {{ getCarById(order.car_id).model }}
                          </div>
                        </td>
                        <td>
                          {{ getDate(order.start, "") }} -
                          {{ getDate(order.end, "") }} -
                          {{ dateDiffInDays(order.start, order.end) }} Days
                        </td>
                        <td>
                          {{ order.sum | currency }}
                        </td>
                        <td>
                          <!-- Edit / View / Delete BTNS -->
                          <div class="btns">
                            <button
                              (click)="deleteOrder(order)"
                              class="btn btn-danger w-75"
                            >
                              <i class="fa-solid fa-trash-can"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noOrders>
  <h3 class="text-center mt-5">There are no such Orders...</h3>
  <div class="noCarImage">
    <img
      class="noCar img-fluid mt-5"
      src="../../../assets/img/nocar.png"
      alt=""
    />
  </div>
</ng-template>
