.editReminder,
.editBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 600px;
}

@media only screen and (max-width: 991px) {
  textarea,
  .btn {
    width: 80vw;
  }
}
