.content {
  width: 99%;
}

.addCustomer {
  display: flex;
  justify-content: center;
}

.table {
  box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.12);
}

.btns {
  display: flex;
  gap: 3px;
}

.options {
  width: 3rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.borderdLine {
  border-bottom: 3px solid black;
}

.loadingImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 35%;
}

.loadingImage,
table,
.cardsDiv {
  animation: fadeInRight 0.2s ease-in-out;
}

.profileImage {
  width: 10rem;
  margin: 1.5rem 0 0 0;
}

.title {
  font-weight: 700;
  color: #3d4157;
}

.mobileBtn {
  width: 100%;
}

.card {
  max-width: 49%;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.227));
  background: linear-gradient(
      to left,
      #555d87 0%,
      #005e98 12%,
      #0ca2ff 47%,
      #575e86 100%
    )
    left bottom rgb(255, 255, 255) no-repeat;
  background-size: 100% 5px; /* if linear-gradient, we need to resize it */
}

@media only screen and (max-width: 991px) {
  .profileImage {
    width: 7rem;
    margin: 1.5rem 0 0 0;
  }

  .header {
    margin: 0 0 0 0.3rem;
    width: 93vw;
    height: 5rem;
  }

  .card {
    max-width: 99%;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.212));
    background: linear-gradient(
        to left,
        #555d87 0%,
        #005e98 12%,
        #0ca2ff 47%,
        #575e86 100%
      )
      left bottom rgb(255, 255, 255) no-repeat;
    background-size: 100% 5px; /* if linear-gradient, we need to resize it */
  }

  .sideB {
    display: none;
  }

  table {
    width: 100vw;
  }

  .stats {
    width: 99%;
  }

  .profileImage {
    display: none;
  }

  .tableDiv {
    height: 100%;
    overflow-y: auto;
  }

  .mobileBtn {
    width: 80%;
  }

  input {
    width: 50%;
  }
}
